<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>A mock corporate booking tool which can demonstrate the ability to place well targetted, contextual advertising.
    The demo will include parameters to adjust the values of the traveler and the trip, and view the resulting
    adjustments in the advertising targetting in real time.</p>
  <div class="panel">
    <h2>Travel Profile</h2>
    <form id="travelProfile">
      <table>
        <tr>
          <td>
            Corporate rank:
            <br />
            <input type="radio" name="rank" value="executive" checked> Executive<br>
            <input type="radio" name="rank" value="mid-level sales"> Mid-level sales<br>
          </td>
          <td>
            Age:
            <br />
            <input type="radio" name="age" value="50" checked> 50<br>
            <input type="radio" name="age" value="25"> 25<br>
          </td>
          <td>
            Gender:
            <br />
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="panel">
    <h2>Trip Context</h2>
    <form id="tripContext">
      <table>
        <tr>
          <td>
            Arrival Date & Time:<br>
            <input type="text" name="arrivalDateTime" value="2019-06-18"><br>
            <br />
            Departure Date & Time:<br>
            <input type="text" name="departureDateTime" value="2019-06-25"><br>
          </td>
          <td>
            <input type="checkbox" name="segments" value="air"> Air Segment Booked<br>
            <input type="checkbox" name="segments" value="hotel"> Hotel Segment Booked<br>
            <input type="checkbox" name="segments" value="car"> Car Rental Segment Booked<br>
          </td>
          <td>
            Number in group:<br>
            <input type="text" name="numberInGroup" value="1"><br>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="panel">
    <h2>Search Query</h2>
    <ul>
      <li>"Hotels for executives in NYC in April"</li>
      <li>"Car rental for executives in NYC in April"</li>
    </ul>
  </div>
  <div class="panel">
    <h2>Result</h2>
    <div class="row">
      <div class="column">
        <h2>TRIP REVIEW SCREEN</h2>
        <p>
          Ads
        </p>
      </div>
      <div class="column">
        <h2>SEARCH SCREEN</h2>
        <p>
          Ads
        </p>
      </div>
      <div class="column">
        <h2>SEARCH RESULTS SCREEN</h2>
        <p>
          Ads
        </p>
      </div>
    </div>
  </div>
</body>

<script>

  // Start the demo
  var travelProfile = {};
  var tripContext = {};
  $(document).ready(function () {
    setTravelProfile();
    setTripContext();
  });

  // Detect form changes
  $("#travelProfile").change(function () {
    setTravelProfile();
  });
  $("#tripContext").change(function () {
    setTripContext();
  });

  // Set the traveler profile
  function setTravelProfile() {
    travelProfile.rank = $("input[name=rank]").val();
    travelProfile.age = $("input[name=age]").val();
    travelProfile.gender = $("input[name=gender]").val();
  }

  // Set the trip context
  function setTripContext() {
    tripContext.arrivalDateTime = $("input[name=arrivalDateTime]").val();
    tripContext.departureDateTime = $("input[name=departureDateTime]").val();
    var segments = $('input[name=segments]:checked');
    tripContext.segments = [];
    segments.each(function () {
      tripContext.segments.push(this.value);
    });
    tripContext.numberInGroup = $("input[name=numberInGroup]").val();
  }

</script>

</html>