<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h5>
    A mock corporate booking tool which can demonstrate the ability to place well targetted, contextual advertising.
    The demo will include parameters to adjust the values of the traveler and the trip, and view the resulting
    adjustments in the advertising targetting in real time.
  </h5>

  <br />

  <div class="card-panel">
    <h3>Travel Profile</h3>
    <form id="travelProfile">
      <table>
        <tr>
          <td>
            <h6>
              Corporate rank:
            </h6>
            <label>
              <input name="rank" type="radio" value="executive" checked />
              <span>Executive</span>
            </label>
            <br />
            <label>
              <input name="rank" type="radio" value="mid-level sales" />
              <span>Mid-level Sales</span>
            </label>
          </td>
          <td>
            <h6>
              Age:
            </h6>
            <label>
              <input name="age" type="radio" value="25" checked />
              <span>25</span>
            </label>
            <br />
            <label>
              <input name="age" type="radio" value="50" />
              <span>50</span>
            </label>
          </td>
          <td>
            <h6>
              Gender:
            </h6>
            <label>
              <input name="gender" type="radio" value="male" checked />
              <span>Male</span>
            </label>
            <br />
            <label>
              <input name="gender" type="radio" value="female" />
              <span>Female</span>
            </label>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="card-panel">
    <h3>Trip Context</h3>
    <form id="tripContext">
      <table>
        <tr>
          <td>
            <h6>
              Arrival Date & Time:
            </h6>
            <input type="text" name="arrivalDateTime" value="2019-06-18"><br>
            <br />
            <h6>
              Departure Date & Time:
            </h6>
            <input type="text" name="departureDateTime" value="2019-06-25"><br>
          </td>
          <td>
            <h6>
              Last User Action:
            </h6>
            <select name="lastAction">
              <option value="" selected>Unknown</option>
              <option value="airsearch">Searched for an air segment</option>
              <option value="airbooking">Booked an air segment</option>
              <option value="hotelsearch">Searched for an hotel segment</option>
              <option value="hotelbooking">Booked an hotel segment</option>
            </select>
            <br />
            <h6>
              Booked Segments:
            </h6>
            <label>
              <input type="checkbox" name="segments" value="air" />
              <span>Air Segment Booked</span>
            </label>
            <br />
            <label>
              <input type="checkbox" name="segments" value="hotel" />
              <span>Hotel Segment Booked</span>
            </label>
            <br />
            <label>
              <input type="checkbox" name="segments" value="car" />
              <span>Car Segment Booked</span>
            </label>
          </td>
          <td>
            <h6>
              Number in group:
            </h6>
            <input type="text" name="numberInGroup" value="1"><br>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="card-panel">
    <h3>Search Request</h3>
    <h5>
      The search request is built from the information available in the traveler's profile and the trip context
    </h5>
    <pre id="request"></pre>
  </div>
  <div class="card-panel">
    <h3>Result</h3>
    <div class="row">
      <div class="column">
        <h5>TRIP REVIEW SCREEN</h5>
        <p>
          Ads
        </p>
      </div>
      <div class="column">
        <h5>SEARCH SCREEN</h5>
        <p>
          Ads
        </p>
      </div>
      <div class="column">
        <h5>SEARCH RESULTS SCREEN</h5>
        <p>
          Ads
        </p>
      </div>
    </div>
  </div>
</body>

<script>

  // Start the demo
  var travelProfile = {};
  var tripContext = {};
  var searchRequest = {};
  $(document).ready(function () {
    $('select').formSelect();
    setTravelProfile();
    setTripContext();
    setSearchRequest();
  });

  // Detect form changes
  $("#travelProfile").on("change paste keyup", function () {
    setTravelProfile();
    setSearchRequest();
  });
  $("#tripContext").on("change paste keyup", function () {
    setTripContext();
    setSearchRequest();
  });

  // Set the traveler profile
  function setTravelProfile() {
    travelProfile.rank = $("input[name=rank]:checked").val();
    travelProfile.age = $("input[name=age]:checked").val();
    travelProfile.gender = $("input[name=gender]:checked").val();
  }

  // Set the trip context
  function setTripContext() {
    tripContext.arrivalDateTime = $("input[name=arrivalDateTime]").val();
    tripContext.departureDateTime = $("input[name=departureDateTime]").val();
    tripContext.lastAction = $("select[name=lastAction]").val();
    if (tripContext.lastAction === "")
      delete tripContext.lastAction;
    var segments = $('input[name=segments]:checked');
    tripContext.segments = [];
    segments.each(function () {
      tripContext.segments.push(this.value);
    });
    tripContext.numberInGroup = $("input[name=numberInGroup]").val();
  }

  // Set the search request
  function setSearchRequest() {
    searchRequest.request = {};
    searchRequest.request.traveler = travelProfile;
    searchRequest.request.trip = tripContext;
    $('#request').html(syntaxHighlight(JSON.stringify(searchRequest, null, 2)));
  }

  // JSON snippet highlighting
  function syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
      var cls = 'number';
      if (/^"/.test(match)) {
        if (/:$/.test(match)) {
          cls = 'key';
        } else {
          cls = 'string';
        }
      } else if (/true|false/.test(match)) {
        cls = 'boolean';
      } else if (/null/.test(match)) {
        cls = 'null';
      }
      return '<span class="' + cls + '">' + match + '</span>';
    });
  }

</script>

</html>