body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, p, label, table {
  color: #5d5d5d;
}

a {
  color: #00B7FF;
}

.panel {
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 15px;
}

td {
  padding: 15px;
  vertical-align: top;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

tr {
  border-bottom: 0px;
}

h2 {
  margin: 1.373333rem 0 1.424rem 0;
}

div.card-panel {
  background-color: #dde6e8;
}